<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@4403" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">4403</number>
      <value name="protocol">HTTPS</value>
      <value name="pkg">JcBankingService</value>
      <value name="enabled">false</value>
      <value name="key">HTTPSListener@4403</value>
      <value name="uniqueID">c8c6f0f9a1e549e3ba30f7f2451aa103</value>
      <value name="portAlias">banking_app</value>
      <value name="portDescription">Port for all communication for banking app</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <value name="clientAuth">none</value>
      <value name="idProvider">salesforce.com</value>
      <value name="ssl">true</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
      <null name="alias"/>
      <null name="keyStore"/>
      <value name="trustStore"></value>
      <null name="jsseDisabledProtocols"/>
      <null name="jsseEnabledProtocols"/>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="HTTPSListener@4403" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">exclude</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
          <value>jc.banking.pub</value>
        </list>
      </record>
      <value name="key">HTTPSListener@4403</value>
    </record>
  </record>
</Values>
